body {
    background-color: #f6f6f6;
    font-family: "宋体";
}

.main_styl {
    width: 95%;
    height: 80px;
    margin: 10px auto;
    background-color: white;
    overflow: hidden;
    padding: 10px;
    font-size: 14px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);

}

.main_styl.sp div {
    float: left;
}

.sp.firt {
    margin-left: 0px;
    width: 30%;
    height: 100%;
    background-image: url("../img/timg1.jpg");
    background-size: 100% 100%;
}

.sp.secound {
    margin-left: 10px;
    max-width: 65%;
}

#example1 div {
    margin: 2px;
}


/**
设置运费相关
 */
.main_styl.min{
    height: 20px;
    margin: 1px auto;
}



.right_div {

    float: right;
    text-align: right;
}
.left_div {
    width: 30%;
    float: left;
    text-align: left;
}


input {
    border: none;
    background-color: transparent;
    outline: none;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
}

#sp {
    float: left;
}

